@use "./variables" as *;
@use "./breakpoints" as *;

.footer {
  background-color: $black;
  color: $white;
  padding: 19.2px;

  &__contact {
    padding: 10px;
    @include medium {
      display: flex;
      justify-self: flex-end;
    }
  }

  &__subheader {
    font-size: 3.75rem;
    line-height: 2.75rem;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: 1rem;
  }

  &__icons {
    display: flex;
  }
  &__containers {
    font-size: 1.5rem;
    @include medium {
      display: flex;
    }
  }
  &__contact-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    @include medium {
      font-size: 1.225rem;
    }
  }

  &__contact-name {
    font-size: 1.225rem;
    padding: 10px;
    font-weight: 500;
    padding: 15px 10px;
    line-height: 2.375rem;
  }

  &__contact-location {
    padding: 10px;
    line-height: 2.2rem;
    padding: 15px 10px;
  }

  &__contact-email {
    padding: 10px;
  }

  &__logo {
    padding: 5rem;
  }

  &__copyright {
    font-size: 1.625rem;
    padding: 10px;
    font-weight: 400;
    padding: 15px 10px;
    line-height: 2.375rem;
  }

  @include small {
    flex-direction: column;
  }
}
