@use "./variables" as *;
@use "./breakpoints" as *;

.header {
  background-color: $black;
  width: 100%;
  display: flex;
  width: 100%;
  color: white;
  padding: 20px;

  @include small {
    display: block;
    align-items: center;
  }

  @include medium {
  }

  @include large {
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
  }

  &___navbar {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-family: "Avenir", sans-serif;
  }

  &__navbar-link {
    padding-left: 20px;
    text-decoration: none;
    list-style-type: none;
  }
}
