@use "./partials/variables";
@use "./partials/breakpoints" as *;
@use "./partials/resets";
@use "./partials/header";
@use "./partials/main";
@use "./partials/footer";
@use "./partials/images";
@use "./partials/mixin" as *;

html,
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
