// breakpoints
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

@mixin medium {
  @media only screen and (min-width: $tablet-min-width) {
    @content;
  }
}

/* media query for landscape, medium pixel density desktops */
@mixin large {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}

.iframe {
  width: 110%;
  height: 100%;
  @include medium {
    width: 51%;
  }
}

.main {
  &__hero-shows {
    width: 100%;
    height: 50vh;

    @include medium {
      height: 60vh;
    }
    @include large {
      height: 30%;
    }
  }
  &__header {
    color: white;
    padding-left: 2.5rem;
    font-size: 1.5rem;
    top: 0%;
    @include large {
      margin-top: 10rem;
    }
  }
  &__page {
    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: start;
  }
  &__album-title {
    font-size: 2rem;
    width: 80vw;
    font-weight: 400;
    margin-top: 6rem;

    @include medium {
      margin-top: 6rem;
      margin-bottom: 2;
      font-weight: 500;
    }
    @include large {
      margin: 0rem;
    }
  }

  &__album-song {
    line-height: 4.5rem;
    font-size: 3.5rem;
    font-weight: 500;
    width: 65vw;
    margin: 0rem;
    margin-bottom: 2rem;
    @include medium {
      font-weight: 600;
      width: 60vw;
    }
    @include large {
      width: 40vw;
    }
  }
}
.shows__heading {
  margin: 2rem 0rem 2rem 2rem;
}

.shows__container {
  padding: 0rem 2rem 2rem 2rem;
}
.shows:active {
  background-color: #e1e1e1;
}
.shows:hover {
  background-color: #fafafa;
}
.shows {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 1rem;
  @include medium {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @include large {
    justify-content: space-evenly;
  }

  &__label {
    color: #afafaf;
    margin: 0rem;
    font-weight: 500;
  }
  &__date-info {
    font-weight: 500;
    margin-top: 0rem;
    font-weight: bold;
  }

  &__info {
    font-weight: 400;
    margin-top: 0rem;
    line-height: 2rem;
    margin-top: 0rem;
  }

  &__location {
    font-weight: 400;
    line-height: 2rem;
    margin-top: 0rem;
  }
  &__address {
    font-weight: 400;
    margin-top: 0rem;
    line-height: 2rem;
    margin-bottom: 0rem;
  }

  &__button {
    width: 100%;
    height: 2.5rem;
    background-color: #323232;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.875rem;
    margin: 1rem 0rem;

    @include medium {
      width: 9.375rem;
      height: 2.5rem;
      font-size: 0.875rem;
      margin-top: 1rem;
    }
  }
  &__button:hover {
    background-color: #000000;
  }
  &__heading {
    font-size: 1.5rem;
    @include medium {
      font-size: 2.25rem;
    }
  }
}
